// Screen readers
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

// Variable Fonts @source : https://www.viget.com/articles/beginners-guide-to-variable-fonts-2/

/* Variable Fonts */

@font-face {
    ////font-display: fallback;
    font-family: 'Source Sans Variable';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url($url_theme+'/font/var/SourceSansVariable-Roman.ttf.woff2') format('woff2'), url($url_theme+'/font/var/SourceSansVariable-Roman.ttf.woff') format('woff'), url($url_theme+'/font/var/SourceSansVariable-Roman.ttf') format('truetype');
}


/* Fallback Fonts */

@font-face {
    ////font-display: fallback;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url($url_theme+'/font/SourceSansPro-Regular.woff2') format('woff2'), url($url_theme+'/font/SourceSansPro-Regular.woff') format('woff'), url($url_theme+'/font/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    //font-display: fallback;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url($url_theme+'/font/SourceSansPro-Bold.woff2') format('woff2'), url($url_theme+'/font/SourceSansPro-Bold.woff') format('woff'), url($url_theme+'/font/SourceSansPro-Bold.ttf') format('truetype');
}

//Typesetting - body
body {
    color: $black;
    font-family: 'Source Sans Pro', 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 100%
    /*
   @media screen and (min-width: $mobile_width) {
      font-size: 16px;
   }
   @media screen and (max-width: $mobile_width - 1) {
      font-size: 14px;
   }
   */
    //overflow-x: hidden;
    //overflow-y: visible;
}

@supports (font-variation-settings: 'wght' 400) {
    body {
        font-family: 'Source Sans Variable', 'Roboto', 'Arial', sans-serif;
        font-variation-settings: 'wght' 400;
        font-weight: 400;
    }
}

// Typestting - font-weight variation
.fontweight-regular {
    font-weight: 400;
}

.fontweight-bold,
.fontweight-semibold {
    font-weight: 700;
}

@supports (font-variation-settings: 'wght' 700) {
    .fontweight-regular {
        font-variation-settings: 'wght' 400;
        font-weight: 400;
    }
    .fontweight-semibold {
        font-variation-settings: 'wght' 600;
        font-weight: 600;
    }
    .fontweight-bold {
        font-variation-settings: 'wght' 700;
        font-weight: 700;
    }
}

h1,
.h1-like,
h4,
h5,
h6,
b,
strong {
    @extend .fontweight-bold;
}

// Typestting - Title
h1,
.h1-like,
{
    font-size: 1.875rem; // equals 30px for desktop devices
}

h2,
.h3-like,
h3 {
    font-size: 1.25rem; // equals 20px for desktop devices
    @extend .fontweight-regular;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

h1,
.h1-like,
h2,
h3 {
    color: $brand-blue;
}

h1,
.h1-like,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    li {
        padding: 0;
    }
}

blockquote {
    border-left: solid 2px $gray;
    padding-left: 1em;
    font-style: italic;
}

a {
    transition: color .4s;
    color: $black;
    &:hover {
        color: $light-green;
    }
    &:active,
    &:focus {
        transition: color .6s;
        color: $brand-blue;
    }
}

.posts-navigation {
    text-align: center;
    margin: 2em 0;
    .nav-links>div {
        display: inline-block;
        padding: 0 1em;
    }
}

.entry-meta {
    text-align: right;
}

button,
.button {
    @extend .cta-standard;
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

button label {
    cursor: pointer;
}

// Responsive behaviour : elements hidden for devices
//Desktop devices
@media screen and (min-width: $tablet_width) {
    .desktop-hidden {
        display: none;
    }
}

//Tablet devices
@media screen and (max-width: $tablet_width - 1) and (min-width: $mobile_width) {
    .tablet-hidden {
        display: none;
    }
}

//Mobile devices
@media screen and (max-width: $mobile_width - 1) {
    .mobile-hidden {
        display: none;
    }
}

fieldset{
    /* color: #858585;
    border: solid 1px #acacac; */
    input{
        margin-bottom: 0;
    }
    .button{
        margin-top: .5rem !important;
        margin-bottom: .5rem;
    }
    legend{
        font-size: 1.25rem;
        color: #02806C;
    }
    border: solid 1px #fff;
}
#action-admin{
    .adminAction-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
        > div{
            grid-column: span 3;
        }
    }
}

//CTA STYLE
.cta-standard,
a.cta-standard,
.cta-white,
a.cta-white,
.cta-secondary,
a.cta-secondary {
    @extend .fontweight-semibold;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
    border-radius: 0;
    box-shadow: none;
}

.cta-standard,
a.cta-standard {
    border: none;
    background: $dark-green;
    color: $white;
    transition: background-color .4s;
    &:link {
        color: $white;
    }
    &:hover {
        background: $light-green;
    }
    &:active,
    &:focus {
        background: $brand-blue;
    }
    &:disabled {
        background: $gray;
    }
}

.cta-white,
a.cta-white {
    color: $dark-green;
    background-color: $white;
    transition: background-color .4s, color .4s;
    &:link {
        color: $dark-green;
    }
    &:hover {
        color: $black;
        background-color: $medium-gray;
    }
    &:active,
    &:focus {
        color: $brand-blue;
    }
}

.cta-secondary,
a.cta-secondary {
    background-color: $white;
    border: 1px solid currentColor;
    transition: all .4s;
    color: $brand-blue;
    margin-top: 0;
    transition: background-color .4s, color .4s;
    &:link {
        color: $brand-blue;
    }
    &:hover {
        color: $light-green;
        background-color: $light-gray;
    }
    &:active,
    &:focus {
        color: $dark-green;
        background-color: $light-gray;
    }
    &.disabled {
        background-color: $light-gray;
        color: $gray;
    }
}

.cta-plus,
.cta-minus {
    position: relative;
    padding-left: 2rem;
}

.cta-plus::after,
.cta-plus::before,
.cta-minus::after,
.cta-minus::before {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.cta-plus::after,
.cta-minus::after {
    color: $white;
    text-align: center;
}

.cta-plus::after {
    content: "+";
}

.cta-minus::after {
    content: "-";
}

.cta-plus::before,
.cta-minus::before {
    content: "";
    background: currentColor;
}

//BACKGROUND-COLORS
.yellow-background {
    background-color: $brand-yellow;
}

.grey-background {
    background-color: $medium-gray;
}

.dark-grey-background {
    background-color: $gray;
}

.blue-background {
    background-color: $brand-blue;
}

.white-background {
    background-color: $white;
}

.green {
    color: $dark-green;
}

.red {
    color: $brand-red;
}

.blue {
    color: $brand-blue;
}

.hidden {
    visibility: collapse;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    //animation: 1s linear disappear;
    //animation-fill-mode: forwards;
}

.h1-like {
    margin-top: 0
}

.help-text,
p.help-text {
    @extend .wrapper-defines-height;
    border-left: 1px solid $dark-green;
    padding-left: 15px;
    margin: 20px 0;
    a {
        color: $dark-green;
    }
}

i {
    font-size: 0.875rem; //equals 14px
    line-height: 1.5;
    a {
        color: $dark-green;
    }
}

#tarteaucitronClosePanel {
    margin-top: 0;
}

.center {
text-align: center;
}

.form-admin-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    form .button{
        margin:0;
    }
}

.elm-admin-ped{
    display:none;
    &:first-of-type{
        display:block;
    }
}