/*
@keyframes moveArrow {
    0% {
        transform: translate(-50%, 0);
    }

    75% {
        transform: translate(-50%, 1em);
    }
  }
*/

// Responsive Spacing used for the layout
// Variables $spacing-regular and $spacing-half are written in _variable.scss
// @Source : https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/

//Create a function for responsive margin-left and margin-right
@mixin margin-horizontal($layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      margin-left: $layout-space;
      margin-right: $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        margin-left: $layout-space;
        margin-right: $layout-space;
      }
    }
  }
}
//Create a function for responsive padding-left and padding-right
@mixin padding-horizontal($layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      padding-left: $layout-space;
      padding-right: $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        padding-left: $layout-space;
        padding-right: $layout-space;
      }
    }
  }
}
//Create a function for responsive margin-top and margin-bottom
@mixin margin-vertical($layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      margin-top: $layout-space;
      margin-bottom: $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        margin-top: $layout-space;
        margin-bottom: $layout-space;
      }
    }
  }
}
//Create a function for responsive padding-top and paddingbottomt
@mixin padding-vertical($layout-map) {
  @each $layout-breakpoint, $layout-space in $layout-map {
    @if $layout-breakpoint == null {
      padding-top: $layout-space;
      padding-bottom: $layout-space;
    }
    @else {
      @media screen and (min-width: $layout-breakpoint) {
        padding-top: $layout-space;
        padding-bottom: $layout-space;
      }
    }
  }
}

//How to use it :
//.wrapper {
//  @include margin-horozontal($spacing-half);
//}
