//color
$white: #fff;
$light-gray: #F5F5F5;
$medium-gray: #E6E6E6;
$label-gray: #B3B3B3;
$gray: #798682;
$transparent: rgba(250, 250, 250, 0);
$black: #114A4C;
$light-green: #00AC87;
$dark-green: #02806C;
$darker-green: #0B6A5F;
$brand-blue: #226FDE;
$brand-yellow: #FCCB56;
$brand-red: #FB5656;
$mobile_width: 500px;
$menu_mobile_width: 620px;
$tablet_width: 760px;
$desktop_width: 1060px;
$wide_width: 1125px;
$narrow_width: 700px;
$index-popup: 2000;
$index-navigation: 1000;
$index-tooltip: 500;
$index-content: 1;
//Variables for Responsive spacing (used in _mixin.scss)
$spacing-regular: ( null: 20px, $mobile_width: 20px, $tablet_width: 40px, $desktop_width: 60px);
$spacing-half: ( null: 10px, $mobile_width: 10px, $tablet_width: 20px, $desktop_width: 30px);
$url_theme: "/wp-content/themes/pre-etat-date";