@charset "UTF-8";
/*
Theme Name: Pré-état-daté
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Thème enfant de Susty 
Version: 1.3.2
Template: susty-master
*/
/* Normalize */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*
@keyframes moveArrow {
    0% {
        transform: translate(-50%, 0);
    }

    75% {
        transform: translate(-50%, 1em);
    }
  }
*/
#masthead {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: #E6E6E6 1px solid;
  height: 80px;
}

#masthead ul {
  padding: 0;
  margin: 0;
}

#masthead a {
  text-decoration: none;
}

#masthead .current_page_item a {
  position: relative;
}

#masthead .current_page_item a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  width: 100%;
  background: #02806C;
}

#masthead .current_page_item a:link {
  color: #00AC87;
}

body {
  padding-top: 80px;
}

.menu-topbar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 620px) {
  .menu-topbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.custom-logo img {
  height: 40px;
  width: auto;
}

.custom-logo a {
  display: flex;
}

#menu {
  display: flex;
  flex-flow: row;
  align-items: center;
}

ul.primary,
ul.primary-paperasse {
  padding: 0;
  display: flex;
}

@media screen and (min-width: 620px) {
  ul.primary {
    display: flex;
    flex-flow: row;
  }
  ul.primary .menu-item {
    margin-right: 20px;
  }
  ul.primary .menu-item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 619px) {
  ul.primary,
  ul.primary-paperasse {
    display: flex;
    flex-flow: column;
  }
  ul.primary .menu-item,
  ul.primary-paperasse .menu-item {
    margin-top: 20px;
  }
}

@media screen and (min-width: 620px) {
  ul.primary,
  ul.primary-paperasse {
    display: flex;
    flex-flow: row;
  }
  ul.primary .menu-item,
  ul.primary-paperasse .menu-item {
    margin-right: 20px;
  }
  ul.primary .menu-item:last-of-type,
  ul.primary-paperasse .menu-item:last-of-type {
    margin-right: 0;
  }
}

@media screen and (max-width: 619px) {
  ul.primary,
  ul.primary-paperasse {
    display: flex;
    flex-flow: column;
  }
  ul.primary .menu-item,
  ul.primary-paperasse .menu-item {
    margin-top: 20px;
  }
}

/* MENU MOBILE */
#menu-admin-ped {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  gap: .25rem;
}

#menu-admin-ped .backToList {
  color: #02806C;
}

@media screen and (max-width: 619px) {
  #menu-admin-ped {
    flex-direction: column;
    justify-content: start;
  }
  #menu-admin-ped span {
    display: none;
  }
}

@media screen and (max-width: 619px) {
  #menu-mobile,
  #menu-mobile-paperasse {
    position: fixed;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: calc(100vh - 80px);
    background: rgba(230, 230, 230, 0.9);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.125rem;
    transition: transform .2s;
  }
  #menu-mobile.menu-open,
  #menu-mobile-paperasse.menu-open {
    transition: transform .2s;
    transform: translateX(0%);
  }
  ul.primary .menu-item,
  ul.primary-paperasse .menu-item {
    text-align: center;
  }
  ul.primary .menu-item:first-of-type,
  ul.primary-paperasse .menu-item:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 619px) {
  button#menu-button-open,
  button#menu-button-close,
  .button-burger {
    font-weight: 400;
    font-variation-settings: 'wght' 400;
    color: #114A4C;
    background-color: rgba(250, 250, 250, 0);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    transition: color .2s;
  }
  button#menu-button-open label,
  button#menu-button-close label,
  .button-burger label {
    font-size: 0.875rem;
    color: currentColor;
    transition: color .2s;
  }
  .button-burger {
    padding: 10px;
    background-color: #fff;
    transition: background-color .2s;
    margin-bottom: 5px;
  }
  span.button-line {
    display: inline-block;
    height: 1px;
    width: 30px;
    background-color: #00AC87;
    transition: background-color .2s;
  }
  .horizontal-line {
    margin-bottom: 8px;
  }
  .horizontal-line:last-of-type {
    margin-bottom: 0;
  }
  .button-square {
    position: relative;
    background: #fff;
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
    transition: background-color .2s;
  }
  .diagonal-line {
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .diagonal-line:first-of-type {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .diagonal-line:last-of-type {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  button#menu-button-open:hover {
    color: #00AC87;
  }
  button#menu-button-open:hover .button-burger {
    background-color: #F5F5F5;
  }
  button#menu-button-open:active {
    color: #226FDE;
  }
  button#menu-button-open:active .button-burger {
    background-color: #226FDE;
  }
  button#menu-button-open:active span.button-line {
    background-color: #fff;
  }
  button#menu-button-close {
    margin-left: auto;
  }
  button#menu-button-close:hover {
    color: #00AC87;
  }
  button#menu-button-close:hover .button-square {
    background-color: #00AC87;
  }
  button#menu-button-close:hover span.button-line {
    background-color: #fff;
  }
  button#menu-button-close:active {
    color: #226FDE;
  }
  button#menu-button-close:active .button-square {
    background-color: #226FDE;
  }
  button#menu-button-close:active span.button-line {
    background-color: #fff;
  }
}

.topbar-cta a {
  text-align: center;
}

@media screen and (min-width: 760px) {
  .topbar-cta {
    margin-left: 20px;
  }
}

@media screen and (max-width: 759px) {
  .topbar-cta a {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1000;
  }
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media screen and (min-width: 760px) {
  .bloc-has-2-parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .bloc-has-2-parts .part-1.desktop-half-wrapper {
    margin-left: auto;
  }
  .bloc-has-2-parts .part-2.desktop-half-wrapper {
    margin-right: auto;
  }
}

@media screen and (max-width: 759px) {
  .bloc-has-2-parts {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.part-1,
.part-2 {
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1060px) {
  .form-doc-2-parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1059px) {
  .form-doc-2-parts {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.global-wrapper {
  margin-top: 2rem;
}

.global-wrapper h2 {
  border-bottom: 1px solid #226FDE;
  padding-bottom: 0.25em;
  margin-top: 2rem;
}

.formAdminAskBtn {
  margin: 0 .5rem 0 0 !important;
}

.adminAction-grid fieldset:first-child .validationBtnPED:first-child {
  margin: 0 0 1rem 0 !important;
}

.adminAction-grid fieldset:last-child .validationBtnPED:first-child {
  margin: 1rem 0 0 0 !important;
}

#info-generales > div {
  display: flex;
  gap: 1rem;
}

#info-generales > div h2 {
  margin-top: 0;
}

#info-generales > div .intern_inf {
  flex-basis: 30%;
}

#info-generales > div .intern_inf h2 {
  text-align: right;
}

#info-generales > div .extern_inf {
  flex-basis: 70%;
}

.gutter {
  grid-column-gap: 20px;
}

/* If there is .grey-background sections, vertical spacing is smaller*/
.grey-background ~ .grey-background .wrapper, .template-woocommerce ~ .grey-background .wrapper, .grey-background ~ .template-woocommerce .wrapper, .template-woocommerce ~ .template-woocommerce .wrapper,
.grey-background ~ .grey-background .narrow-wrapper,
.template-woocommerce ~ .grey-background .narrow-wrapper,
.grey-background ~ .template-woocommerce .narrow-wrapper,
.template-woocommerce ~ .template-woocommerce .narrow-wrapper {
  padding-top: 0;
}

.page-content {
  margin-bottom: 30px;
}

.page-content :last-child {
  margin-bottom: 0;
}

.bloc-doc {
  border: 1px solid #E6E6E6;
  padding: 10px;
  margin-bottom: 10px;
}

.bloc-doc :last-child {
  margin-bottom: 0;
}

.doc-text {
  margin-top: 0;
}

.grey-background .bloc-doc, .template-woocommerce .bloc-doc {
  background: #fff;
}

.image-container,
.video-container {
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.image-container img {
  max-height: 360px;
  width: auto;
  max-width: 100%;
  object-fit: scale-down;
}

.video-container img,
.video-container video,
.video-container iframe {
  width: 100%;
}

@media screen and (min-width: 1060px) {
  .video-container img,
  .video-container video,
  .video-container iframe {
    height: 450px;
  }
}

@media screen and (max-width: 1059px) and (min-width: 760px) {
  .video-container img,
  .video-container video,
  .video-container iframe {
    height: 30vw;
  }
}

@media screen and (max-width: 759px) {
  .video-container img,
  .video-container video,
  .video-container iframe {
    height: 60vw;
  }
}

#footer {
  background: #fff;
  border-top: 1px solid #E6E6E6;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer .footer-links {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  #footer .footer-links {
    flex-direction: column;
  }
}

#footer .footer-links .wp-block-social-links {
  display: flex;
  flex-wrap: nowrap;
}

#footer .footer-links .secondary {
  width: 95%;
  align-self: flex-start;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

#footer .footer-links .secondary a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (max-width: 760px) {
  #footer .footer-links .secondary {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #footer .footer-links .secondary {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 500px) {
  #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  #footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  #footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#footer a {
  text-decoration: none;
}

#footer .custom-logo,
.footer-cta {
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .footer-cta a {
    float: right;
  }
}

#footer ul {
  margin: 0;
  padding: 0;
}

.footer-links .menu-item {
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  margin-bottom: 6px;
}

.footer-links .menu-item:last-of-type {
  margin-bottom: 0;
}

.copyright {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 759px) {
  .copyright-frontpage {
    padding-bottom: 50px;
  }
}

.pre-footer img {
  filter: grayscale(1);
  transition: all .3s ease;
}

.pre-footer img:hover {
  filter: grayscale(0);
}

/* Cookies */
#tarteaucitronRoot .tarteaucitronDeny {
  background: #fff !important;
  color: #333 !important;
}

#tarteaucitronRoot .tarteaucitronAllow {
  background: #02806C !important;
}

#tarteaucitronRoot .tarteaucitronCross::before {
  color: #333 !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Variable Fonts */
@font-face {
  font-family: 'Source Sans Variable';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("/wp-content/themes/pre-etat-date/font/var/SourceSansVariable-Roman.ttf.woff2") format("woff2"), url("/wp-content/themes/pre-etat-date/font/var/SourceSansVariable-Roman.ttf.woff") format("woff"), url("/wp-content/themes/pre-etat-date/font/var/SourceSansVariable-Roman.ttf") format("truetype");
}

/* Fallback Fonts */
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Regular.woff2") format("woff2"), url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Regular.woff") format("woff"), url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Bold.woff2") format("woff2"), url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Bold.woff") format("woff"), url("/wp-content/themes/pre-etat-date/font/SourceSansPro-Bold.ttf") format("truetype");
}

body {
  color: #114A4C;
  font-family: 'Source Sans Pro', 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
}

@supports (font-variation-settings: "wght" 400) {
  body {
    font-family: 'Source Sans Variable', 'Roboto', 'Arial', sans-serif;
    font-variation-settings: 'wght' 400;
    font-weight: 400;
  }
}

.fontweight-regular, h2,
.h3-like,
h3 {
  font-weight: 400;
}

.fontweight-bold, h1,
.h1-like,
h4,
h5,
h6,
b,
strong, .frontpage-price-data, .form-title, .woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before, #primary .woocommerce ul.order_details li strong,
.fontweight-semibold,
.menu-item,
.cta-standard,
.topbar-cta a,
.footer-cta a,
button,
.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.cta-standard,
a.button,
.cta-white,
a.cta-white,
.cta-secondary,
.woocommerce .button,
.woocommerce button,
.woocommerce button.button,
a.cta-secondary,
.frontpage-price-title,
.frontpage-price-title h2,
.table_head {
  font-weight: 700;
}

@supports (font-variation-settings: "wght" 700) {
  .fontweight-regular, h2,
  .h3-like,
  h3 {
    font-variation-settings: 'wght' 400;
    font-weight: 400;
  }
  
  .fontweight-semibold,
  .menu-item,
  .cta-standard,
  .topbar-cta a,
  .footer-cta a,
  button,
  .button,
  .woocommerce #respond input#submit.alt,
  .woocommerce a.button.alt,
  .woocommerce button.button.alt,
  .woocommerce input.button.alt,
  a.cta-standard,
  a.button,
  .cta-white,
  a.cta-white,
  .cta-secondary,
  .woocommerce .button,
  .woocommerce button,
  .woocommerce button.button,
  a.cta-secondary,
  .frontpage-price-title,
  .frontpage-price-title h2,
  .table_head {
    font-variation-settings: 'wght' 600;
    font-weight: 600;
  }
  .fontweight-bold, h1,
  .h1-like,
  h4,
  h5,
  h6,
  b,
  strong, .frontpage-price-data, .form-title, .woocommerce table.shop_table_responsive tr td::before,
  .woocommerce-page table.shop_table_responsive tr td::before, #primary .woocommerce ul.order_details li strong {
    font-variation-settings: 'wght' 700;
    font-weight: 700;
  }
}

h1,
.h1-like {
  font-size: 1.875rem;
}

h2,
.h3-like,
h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

h1,
.h1-like,
h2,
h3 {
  color: #226FDE;
}

h1,
.h1-like,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 0;
}

blockquote {
  border-left: solid 2px #798682;
  padding-left: 1em;
  font-style: italic;
}

a {
  transition: color .4s;
  color: #114A4C;
}

a:hover {
  color: #00AC87;
}

a:active, a:focus {
  transition: color .6s;
  color: #226FDE;
}

.posts-navigation {
  text-align: center;
  margin: 2em 0;
}

.posts-navigation .nav-links > div {
  display: inline-block;
  padding: 0 1em;
}

.entry-meta {
  text-align: right;
}

button,
.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

button label {
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .desktop-hidden {
    display: none;
  }
}

@media screen and (max-width: 759px) and (min-width: 500px) {
  .tablet-hidden {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .mobile-hidden {
    display: none;
  }
}

fieldset {
  /* color: #858585;
    border: solid 1px #acacac; */
  border: solid 1px #fff;
}

fieldset input {
  margin-bottom: 0;
}

fieldset .button {
  margin-top: .5rem !important;
  margin-bottom: .5rem;
}

fieldset legend {
  font-size: 1.25rem;
  color: #02806C;
}

#action-admin .adminAction-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
}

#action-admin .adminAction-grid > div {
  grid-column: span 3;
}

.cta-standard, .topbar-cta a, .footer-cta a, button,
.button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.cta-standard,
.topbar-cta a,
.footer-cta a,
a.button,
.woocommerce a.button.alt,
.cta-white,
a.cta-white,
.cta-secondary,
.woocommerce .button,
.woocommerce button,
.woocommerce button.button,
a.cta-secondary,
.woocommerce a.button {
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: inline-block;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  box-shadow: none;
}

.cta-standard, .topbar-cta a, .footer-cta a, button,
.button, .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
a.cta-standard,
.topbar-cta a,
.footer-cta a,
a.button,
.woocommerce a.button.alt {
  border: none;
  background: #02806C;
  color: #fff;
  transition: background-color .4s;
}

.cta-standard:link, .topbar-cta a:link, .footer-cta a:link, button:link,
.button:link, .woocommerce #respond input#submit.alt:link,
.woocommerce a.button.alt:link,
.woocommerce button.button.alt:link,
.woocommerce input.button.alt:link,
a.cta-standard:link,
.topbar-cta a:link,
.footer-cta a:link,
a.button:link,
.woocommerce a.button.alt:link {
  color: #fff;
}

.cta-standard:hover, .topbar-cta a:hover, .footer-cta a:hover, button:hover,
.button:hover, .woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
a.cta-standard:hover,
.topbar-cta a:hover,
.footer-cta a:hover,
a.button:hover,
.woocommerce a.button.alt:hover {
  background: #00AC87;
}

.cta-standard:active, .topbar-cta a:active, .footer-cta a:active, button:active,
.button:active, .woocommerce #respond input#submit.alt:active,
.woocommerce a.button.alt:active,
.woocommerce button.button.alt:active,
.woocommerce input.button.alt:active, .cta-standard:focus, .topbar-cta a:focus, .footer-cta a:focus, button:focus,
.button:focus, .woocommerce #respond input#submit.alt:focus,
.woocommerce a.button.alt:focus,
.woocommerce button.button.alt:focus,
.woocommerce input.button.alt:focus,
a.cta-standard:active,
.topbar-cta a:active,
.footer-cta a:active,
a.button:active,
.woocommerce a.button.alt:active,
a.cta-standard:focus,
.topbar-cta a:focus,
.footer-cta a:focus,
a.button:focus,
.woocommerce a.button.alt:focus {
  background: #226FDE;
}

.cta-standard:disabled, .topbar-cta a:disabled, .footer-cta a:disabled, button:disabled,
.button:disabled, .woocommerce #respond input#submit.alt:disabled,
.woocommerce a.button.alt:disabled,
.woocommerce button.button.alt:disabled,
.woocommerce input.button.alt:disabled,
a.cta-standard:disabled,
.topbar-cta a:disabled,
.footer-cta a:disabled,
a.button:disabled,
.woocommerce a.button.alt:disabled {
  background: #798682;
}

.cta-white,
a.cta-white {
  color: #02806C;
  background-color: #fff;
  transition: background-color .4s, color .4s;
}

.cta-white:link,
a.cta-white:link {
  color: #02806C;
}

.cta-white:hover,
a.cta-white:hover {
  color: #114A4C;
  background-color: #E6E6E6;
}

.cta-white:active, .cta-white:focus,
a.cta-white:active,
a.cta-white:focus {
  color: #226FDE;
}


.cta-secondary,
.woocommerce .button,
.woocommerce button,
.woocommerce button.button,
a.cta-secondary,
.woocommerce a.button {
  background-color: #fff;
  border: 1px solid currentColor;
  transition: all .4s;
  color: #226FDE;
  margin-top: 0;
  transition: background-color .4s, color .4s;
}

.cta-secondary:link, .woocommerce .button:link,
.woocommerce button:link,
a.cta-secondary:link,
.woocommerce a.button:link {
  color: #226FDE;
}

.cta-secondary:hover, .woocommerce .button:hover,
.woocommerce button:hover,
a.cta-secondary:hover,
.woocommerce a.button:hover {
  color: #00AC87;
  background-color: #F5F5F5;
}

.cta-secondary:active, .woocommerce .button:active,
.woocommerce button:active, .cta-secondary:focus, .woocommerce .button:focus,
.woocommerce button:focus,
a.cta-secondary:active,
.woocommerce a.button:active,
a.cta-secondary:focus,
.woocommerce a.button:focus {
  color: #02806C;
  background-color: #F5F5F5;
}

.cta-secondary.disabled, .woocommerce .disabled.button,
.woocommerce button.disabled,
a.cta-secondary.disabled,
.woocommerce a.disabled.button {
  background-color: #F5F5F5;
  color: #798682;
}

.cta-plus,
.cta-minus {
  position: relative;
  padding-left: 2rem;
}

.cta-plus::after,
.cta-plus::before,
.cta-minus::after,
.cta-minus::before {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.cta-plus::after,
.cta-minus::after {
  color: #fff;
  text-align: center;
}

.cta-plus::after {
  content: "+";
}

.cta-minus::after {
  content: "-";
}

.cta-plus::before,
.cta-minus::before {
  content: "";
  background: currentColor;
}

.yellow-background {
  background-color: #FCCB56;
}

.grey-background, .template-woocommerce {
  background-color: #E6E6E6;
}

.dark-grey-background {
  background-color: #798682;
}

.blue-background {
  background-color: #226FDE;
}

.white-background {
  background-color: #fff;
}

.green {
  color: #02806C;
}

.red {
  color: #FB5656;
}

.blue {
  color: #226FDE;
}

.hidden {
  visibility: collapse;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.h1-like {
  margin-top: 0;
}

.help-text,
p.help-text {
  border-left: 1px solid #02806C;
  padding-left: 15px;
  margin: 20px 0;
}

.help-text a,
p.help-text a {
  color: #02806C;
}

i {
  font-size: 0.875rem;
  line-height: 1.5;
}

i a {
  color: #02806C;
}

#tarteaucitronClosePanel {
  margin-top: 0;
}

.center {
  text-align: center;
}

.form-admin-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.form-admin-intro form .button {
  margin: 0;
}

.elm-admin-ped {
  display: none;
}

.elm-admin-ped:first-of-type {
  display: block;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.narrow-wrapper {
  box-sizing: border-box;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .narrow-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .narrow-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .narrow-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 760px) {
  .desktop-half-wrapper {
    width: 100%;
    max-width: 562.5px;
    box-sizing: border-box;
  }
}

.responsive-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .responsive-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .responsive-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .responsive-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  .responsive-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .responsive-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .responsive-padding {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.wrapper-defines-height *:first-child, .help-text *:first-child {
  margin-top: 0;
}

.wrapper-defines-height *:last-child, .help-text *:last-child {
  margin-bottom: 0;
}

section {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 499px) {
  .page-title {
    padding-top: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1059px) {
  .page-title {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .page-title {
    padding-top: 60px;
  }
}

.page-title h1 {
  margin-top: 0;
}

.page-title span {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 499px) {
  .standard-page {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 1059px) {
  .standard-page {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .standard-page {
    padding-bottom: 60px;
  }
}

.baseline {
  font-variation-settings: 'wght' 400;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #114A4C;
}

.frontpage-header-part2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.frontpage-header-part2 h1 {
  margin-top: 0;
}

@media screen and (min-width: 500px) {
  .frontpage-header-part2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-header-part2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-header-part2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  .frontpage-header-part2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-header-part2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-header-part2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.frontpage-advantage-part1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.frontpage-advantage-part1 h2 {
  margin-top: 0;
}

@media screen and (min-width: 500px) {
  .frontpage-advantage-part1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-advantage-part1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-advantage-part1 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 499px) {
  .frontpage-advantage-part2 {
    padding-top: 0;
  }
}

.frontpage-advantage-element,
.bloc-doc {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  max-width: 320px;
}

.frontpage-advantage-element img,
.bloc-doc img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
}

.frontpage-advantage-picture,
.doc-picture {
  border-radius: 4px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.frontpage-advantage-name {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.frontpage-advantage-text {
  margin: 0;
  padding: 0;
}

.frontpage-help {
  background: linear-gradient(to right, #02806C, #0B6A5F);
  color: #fff;
}

.frontpage-help h1, .frontpage-help h2, .frontpage-help h3, .frontpage-help a {
  color: #fff;
}

.frontpage-help a.cta-white {
  color: initial;
}

@media screen and (max-width: 499px) {
  .frontpage-help .part-2 {
    padding-top: 0;
  }
}

.frontpage-help-part2 {
  border-left: 1px solid #00AC87;
  padding-left: 15px;
}

.frontpage-timeline {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .frontpage-timeline {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-timeline {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-timeline {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.frontpage-timeline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

li.frontpage-timeline-step {
  position: relative;
  margin-bottom: 20px;
}

li.frontpage-timeline-step::before {
  position: absolute;
  content: "";
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #FCCB56;
}

li.frontpage-timeline-step::after {
  position: absolute;
  content: "";
  background: #FCCB56;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0;
}

li.frontpage-timeline-step:nth-child(1)::after {
  opacity: 1;
}

li.frontpage-timeline-step:hover::after {
  opacity: 1;
}

.small-text, #primary .woocommerce ul.order_details li, .recap-links {
  font-size: 0.875rem;
  color: #798682;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-variation-settings: 'whgt' 400;
}

.small-text.blue, #primary .woocommerce ul.order_details li.blue, .blue.recap-links {
  color: #226FDE;
}

.frontpage-timeline-step p {
  margin-top: 0;
  margin-bottom: 10px;
}

.frontpage-timeline-title {
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 759px) {
  .frontpage-timeline-list {
    border-left: 1px solid #FCCB56;
  }
  li.frontpage-timeline-step {
    padding-left: 40px;
    position: relative;
  }
  li.frontpage-timeline-step::before {
    left: -10px;
    top: 0;
  }
  li.frontpage-timeline-step::after {
    left: -5px;
    top: 5px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-timeline-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    border-top: 1px solid #FCCB56;
    padding-top: 40px;
  }
  li.frontpage-timeline-step {
    position: relative;
  }
  li.frontpage-timeline-step::before {
    top: -50px;
    left: 0;
  }
  li.frontpage-timeline-step::after {
    top: -45px;
    left: 5px;
  }
}

.frontpage-price {
  margin: 0;
  padding: 0;
}

.frontpage-price > div {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
}

@media screen and (min-width: 500px) {
  .frontpage-price > div {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-price > div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-price > div {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 499px) {
  .frontpage-price-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  .frontpage-price-element {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .frontpage-price-element ul {
    text-align: left;
    display: block;
  }
  .frontpage-price-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  .frontpage-price-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .frontpage-price-title {
    font-size: 1rem;
  }
}

.frontpage-price-header {
  background: #FB5656;
  height: 180px;
  padding: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-flow: column;
}

.frontpage-price-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  line-height: 1.2;
  min-height: 2.5rem;
}

.frontpage-price-title img {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
}

.frontpage-price-title h2 {
  margin: 0;
  text-align: left;
  font-size: inherit;
  color: #fff;
}

.frontpage-price-data {
  font-size: 2.5rem;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1;
}

.frontpage-price-text {
  margin-top: 0;
}

.frontpage-price-option {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.frontpage-price-option a {
  margin: auto;
}

ul.frontpage-price-list {
  list-style-type: disc;
  list-style-image: url(./image/list-style-bad.svg);
}

.frontpage-price-arg {
  margin-bottom: 10px;
}

.frontpage-price-arg:last-of-type {
  margin-bottom: 0;
}

.frontpage-price-element:first-of-type .frontpage-price-header {
  background: #00AC87;
}

.frontpage-price-element:first-of-type .frontpage-price-option {
  background: #fff;
}

.frontpage-price-element:first-of-type ul.frontpage-price-list {
  list-style-image: url(./image/list-style-good.svg);
}

.frontpage-price-element:nth-of-type(2) .frontpage-price-header {
  background: #226FDE;
}

.frontpage-price-element:nth-of-type(2) .frontpage-price-option {
  background: #fff;
  border-left: 2px solid #F5F5F5;
}

.frontpage-price-element:nth-of-type(2) ul.frontpage-price-list {
  list-style-image: url(./image/list-style-good.svg);
}

.frontpage-price-legal p {
  text-align: center;
  color: #798682;
}

.frontpage-price-legal p a {
  transition: color .2s;
}

.frontpage-price-legal p a:link {
  color: currentColor;
}

.frontpage-price-legal p a:hover {
  color: #00AC87;
}

.frontpage-price-legal p a:active, .frontpage-price-legal p a:focus {
  color: #226FDE;
}

.frontpage-information .narrow-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .frontpage-information .narrow-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.frontpage-information-text, .tutorial-information {
  background: #fff;
  border: 1px solid #226FDE;
  padding: 30px 20px;
}

.frontpage-information-text a, .tutorial-information a {
  color: #226FDE;
}

/*
form{
   .formCont, .formCheckBox{
      position: relative;
      margin-top:1em;
   }
   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      -webkit-backface-visibility: hidden;
      background: $light-gray;
      border: solid 1px $medium-gray;
      padding: 0.25rem;
      box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;
      outline-offset: 0;
      border-radius: 0;
      margin-top:1em;
      width:100%;

      + label{
         position:absolute;
         top:1em;
         left:1em;
         color:$gray;
         opacity: 0;
      }
      &:focus {
         border-color: $gray;
         transition: all .4s;
         + label{
            transform: translate(-2em,-1.25em) scale(.8);
            opacity: 1;
            transition: transform .4s;
         }
         &::placeholder{
            opacity:0;
         }
      }
      &::placeholder{
         opacity:1;
      }
   }
   .formCheckBox{
       font-size:.7rem;
   }
   .formButton{
       margin:1em;
       text-align: center;
   }

  .contResponse{
     opacity: 0;
  }
  &.response{
     .contResponse{
        margin:2em 0;
        opacity: 1;
        transition-delay: 1s;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease;
     }
     *:not(.contResponse){
        opacity: 0;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
     }
  }
}
*/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  -webkit-backface-visibility: hidden;
  background: #fff;
  border: solid 1px #E6E6E6;
  border-bottom: solid 1px #FB5656;
  color: #114A4C;
  padding: 0.5rem;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  margin-top: 0;
  transition: all .2s;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="range"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="color"]::placeholder,
textarea::placeholder {
  color: #E6E6E6;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="range"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="color"]:disabled,
textarea:disabled {
  border-color: #798682;
  background: #798682;
}

input[type="text"]:valid, input[type="text"]:checked,
input[type="email"]:valid,
input[type="email"]:checked,
input[type="url"]:valid,
input[type="url"]:checked,
input[type="password"]:valid,
input[type="password"]:checked,
input[type="search"]:valid,
input[type="search"]:checked,
input[type="number"]:valid,
input[type="number"]:checked,
input[type="tel"]:valid,
input[type="tel"]:checked,
input[type="range"]:valid,
input[type="range"]:checked,
input[type="date"]:valid,
input[type="date"]:checked,
input[type="month"]:valid,
input[type="month"]:checked,
input[type="week"]:valid,
input[type="week"]:checked,
input[type="time"]:valid,
input[type="time"]:checked,
input[type="datetime"]:valid,
input[type="datetime"]:checked,
input[type="datetime-local"]:valid,
input[type="datetime-local"]:checked,
input[type="color"]:valid,
input[type="color"]:checked,
textarea:valid,
textarea:checked {
  border-color: #00AC87;
  background: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  border-color: #226FDE;
  background-color: #fff;
}

input[type="text"]:checked,
input[type="email"]:checked,
input[type="url"]:checked,
input[type="password"]:checked,
input[type="search"]:checked,
input[type="number"]:checked,
input[type="tel"]:checked,
input[type="range"]:checked,
input[type="date"]:checked,
input[type="month"]:checked,
input[type="week"]:checked,
input[type="time"]:checked,
input[type="datetime"]:checked,
input[type="datetime-local"]:checked,
input[type="color"]:checked,
textarea:checked {
  border-color: #00AC87;
  background: #fff;
}

label {
  display: block;
  margin-bottom: 4px;
  line-height: 1.2;
}

textarea,
input,
button,
i {
  display: block;
  margin-bottom: 1rem;
}

button {
  margin-top: 10px;
}

form:not(#formAdminAsk):not(#formAdmin) .cta-standard, form:not(#formAdminAsk):not(#formAdmin) .topbar-cta a, .topbar-cta form:not(#formAdminAsk):not(#formAdmin) a, form:not(#formAdminAsk):not(#formAdmin) .footer-cta a, .footer-cta form:not(#formAdminAsk):not(#formAdmin) a, form:not(#formAdminAsk):not(#formAdmin) button,
form:not(#formAdminAsk):not(#formAdmin) .button, form:not(#formAdminAsk):not(#formAdmin) .woocommerce #respond input#submit.alt, .woocommerce #respond form:not(#formAdminAsk):not(#formAdmin) input#submit.alt {
  margin-top: 20px;
}

textarea {
  height: 140px;
}

.checkbox {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox a {
  color: #02806C;
}

.checkbox label {
  font-size: 87%;
  line-height: 1.5;
}

.hiddenSubmitButton {
  cursor: default;
  opacity: 0;
  animation: .4s linear disappear;
  animation-fill-mode: forwards;
}

#ResponseMessage {
  opacity: 0;
}

#ResponseMessage.showResponseMessage {
  opacity: 0;
  animation: .2s linear .6s appear;
  animation-fill-mode: forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formCont2 {
  display: inline-block;
  width: calc(50% - 2px);
}

#formAdmin > div h2 {
  margin-top: revert;
}

form#formAdminAsk .propal_admin {
  margin: .5rem 0 !important;
  text-align: left !important;
}

.contactFrom, .assist-form {
  max-width: 600px !important;
}

.template-form {
  max-width: 860px;
  margin: 0 auto 1rem auto;
}

@media screen and (max-width: 760px) {
  .template-form {
    max-width: 500px;
    margin: 0 auto;
  }
}

.template-form .coordonateForm, .template-form .createBilan, .template-form .createAnnex {
  padding: 2rem 0;
}

.template-form .coordonateForm #createCoordonate, .template-form .coordonateForm #createBilan, .template-form .coordonateForm #createAnnex, .template-form .createBilan #createCoordonate, .template-form .createBilan #createBilan, .template-form .createBilan #createAnnex, .template-form .createAnnex #createCoordonate, .template-form .createAnnex #createBilan, .template-form .createAnnex #createAnnex {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 760px) {
  .template-form .coordonateForm #createCoordonate, .template-form .coordonateForm #createBilan, .template-form .coordonateForm #createAnnex, .template-form .createBilan #createCoordonate, .template-form .createBilan #createBilan, .template-form .createBilan #createAnnex, .template-form .createAnnex #createCoordonate, .template-form .createAnnex #createBilan, .template-form .createAnnex #createAnnex {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .template-form .coordonateForm #createCoordonate, .template-form .coordonateForm #createBilan, .template-form .coordonateForm #createAnnex, .template-form .createBilan #createCoordonate, .template-form .createBilan #createBilan, .template-form .createBilan #createAnnex, .template-form .createAnnex #createCoordonate, .template-form .createAnnex #createBilan, .template-form .createAnnex #createAnnex {
    max-width: 90%;
    margin: 0 auto;
  }
}

.form-header,
.bloc-form {
  width: 100%;
}

.form-aside {
  height: 100%;
}

.form-picture {
  height: 100%;
}

.form-doc {
  padding: 20px 30px;
}

@media screen and (min-width: 1060px) {
  .form-video {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }
}

.contactInf {
  background: #fff;
  border: 1px solid #226FDE;
  padding: 2rem 1rem;
}

.contactInf p {
  margin: 0 auto;
  text-align: center;
}

.form-title {
  font-size: 1.125rem;
  color: #114A4C;
  margin-top: 0;
  margin-bottom: 20px;
}

.form-anchor .small-text, .form-anchor #primary .woocommerce ul.order_details li, #primary .woocommerce ul.order_details .form-anchor li, .form-anchor .recap-links {
  margin-bottom: 2px;
}

.form-anchor-container {
  display: grid;
  grid-template-columns: 20px auto 20px auto 20px;
  align-items: center;
  width: 100%;
}

.form-anchor-links {
  color: #226FDE;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: #fff;
  position: relative;
  transition: color .2s;
}

.form-anchor-links:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: inherit;
  background: currentColor;
  top: 5px;
  left: 5px;
  opacity: 0;
}

.form-anchor-links:focus, .form-anchor-links:active {
  color: #02806C;
}

.form-anchor-links.disabled {
  color: #798682;
}

.form-anchor-links:hover:after,
.form-anchor-links:focus:after,
.form-anchor-links:active:after {
  opacity: 1;
  transition: opacity 0.2s;
}

.form-anchor-separator {
  height: 1px;
  width: 100%;
}

.form-step-1 {
  text-align: left;
}

.form-step-1 .form-anchor-container {
  grid-template-columns: 20px auto 20px 20px 20px;
}

.form-step-1 .form-anchor-link-1::after {
  opacity: 1;
}

.form-step-2 {
  text-align: center;
}

.form-step-2 .form-anchor-link-2::after {
  opacity: 1;
}

.form-step-3 {
  text-align: right;
}

.form-step-3 .form-anchor-container {
  grid-template-columns: 20px 20px 20px auto 20px;
}

.form-step-3 .form-anchor-link-3::after {
  opacity: 1;
}

.form-doc .help-text {
  margin-top: 0;
}

form h2 {
  border-bottom: 1px solid #226FDE;
  padding-bottom: 0.25em;
  margin-top: 30px;
  margin-bottom: 30px;
}

form h2:first-of-type {
  margin-top: 0;
}

.bloc-form .bloc-doc {
  margin-top: 30px;
}

#ownerContainer {
  display: flex;
  flex-flow: column nowrap;
}

#formAssist, #formAssistSyndic {
  transition: all 1s ease-out;
  height: auto;
  max-height: 100%;
  overflow: hidden;
}

#formAssist.hide, #formAssistSyndic.hide {
  transition: all 1s ease-out;
  max-height: 0;
}

.field-combine {
  border-left: dotted 1px #999;
  padding-left: 1em;
}

.wc-custom {
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .wc-custom {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .wc-custom {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .wc-custom {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 759px) {
  .wc-custom {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 760px) {
  .wc-custom {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wc-custom-variant {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wc-main,
.wc-aside {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .wc-main,
  .wc-aside {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .wc-main,
  .wc-aside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .wc-main,
  .wc-aside {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  .wc-main,
  .wc-aside {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .wc-main,
  .wc-aside {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .wc-main,
  .wc-aside {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
}

.woocommerce h2 {
  margin-top: 0;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  width: 100%;
}

.woocommerce input {
  display: initial;
}

#primary .woocommerce ul.order_details {
  padding-left: 15px;
  border-left: 1px solid #226FDE;
}

#primary .woocommerce ul.order_details li {
  margin-bottom: 10px;
}

#primary .woocommerce ul.order_details li strong {
  color: #114A4C;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
  border: 1px solid #226FDE;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 760px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1060px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 500px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .woocommerce-account .woocommerce-MyAccount-navigation {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
}

.cta-checkout {
  width: 100%;
  text-align: center;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
  border-radius: 0;
  border-color: #798682;
}

.product-name a {
  text-decoration: none;
}

.woocommerce-order-overview-custom {
  display: flex;
  flex-flow: column;
}

.woocommerce .woocommerce-customer-details address {
  width: 100%;
  box-sizing: border-box;
}

.template-recap {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .template-recap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .template-recap {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .template-recap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.recap-content,
.recap-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .recap-content,
  .recap-form {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .recap-content,
  .recap-form {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .recap-content,
  .recap-form {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.recap-content {
  margin-bottom: 30px;
}

.recap-text {
  width: 100%;
  text-align: left;
}

.recap-text p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 499px) {
  .recap-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 500px) {
  .recap-text {
    display: grid;
    grid-template-columns: auto 80px;
  }
}

.recap-links {
  text-decoration: none;
}

@media screen and (min-width: 1125px) {
  .template-tutorial {
    display: grid;
    grid-template: ". main aside grey" auto / 1fr 562.5px 562.5px 1fr;
  }
  .tutorial-main {
    grid-area: main;
  }
  .tutorial-aside {
    grid-area: aside;
    background: #FCCB56;
  }
  .tutorial-grey {
    grid-area: grey;
  }
  .tutorial-start {
    background: #E6E6E6;
  }
}

@media screen and (max-width: 1124px) and (min-width: 760px) {
  .template-tutorial {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tutorial-aside {
    background: #FCCB56;
  }
}

@media screen and (max-width: 1124px) and (min-width: 760px) and (max-width: 1059px) and (min-width: 760px) {
  .template-tutorial {
    grid-template-columns: 1fr 1fr;
  }
}

.tutorial-aside {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 500px) {
  .tutorial-aside {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  .tutorial-aside {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .tutorial-aside {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  .tutorial-aside {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  .tutorial-aside {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  .tutorial-aside {
    padding-left: 60px;
    padding-right: 60px;
  }
}

#tutorial-start {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

@media screen and (min-width: 500px) {
  #tutorial-start {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  #tutorial-start {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  #tutorial-start {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 500px) {
  #tutorial-start {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 760px) {
  #tutorial-start {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1060px) {
  #tutorial-start {
    padding-left: 60px;
    padding-right: 60px;
  }
}

#tutorial-start .start-content {
  margin: auto;
  border: 1px solid #226FDE;
  width: 100%;
  max-width: 720px;
  padding: 1rem;
  text-align: center;
}

#tutorial-start .start-content > div {
  padding: 1rem 2rem 1rem 1rem;
}

#tutorial-start .help-text {
  background: #F5F5F5;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#tutorial-start a.cta-standard, #tutorial-start .topbar-cta a, .topbar-cta #tutorial-start a, #tutorial-start .footer-cta a, .footer-cta #tutorial-start a,
#tutorial-start a.button {
  margin: 1rem;
}

a.cta-plan-2 {
  background: #226FDE;
}

a.cta-plan-2:hover, a.cta-plan-2:focus {
  background-color: #4e8ce5;
}

#help-container > button {
  right: 0;
  bottom: 2rem;
  position: fixed;
  margin: 0;
  z-index: 500;
  font-size: 1.25rem;
  animation: crescendo 5s infinite;
}

@keyframes crescendo {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#help-container #popup {
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

#help-container #popup.is-open {
  opacity: 1;
  visibility: visible;
}

#help-container #popup #popup-layout {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  padding-top: 4rem;
  max-width: 480px;
  width: 100%;
  box-sizing: border-box;
}

#help-container #popup #popup-layout #popup-content {
  background: #fff;
  padding: 2rem;
}

#help-container #popup #popup-layout #closePopup {
  background: transparent;
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}

#help-container #popup #popup-layout #closePopup img {
  margin-left: 1rem;
}

#help-container #popup #overlay {
  display: block;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.85);
}

#bloc-testimonial {
  background-color: #02806C;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 500px) {
  #bloc-testimonial {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 760px) {
  #bloc-testimonial {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1060px) {
  #bloc-testimonial {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#bloc-testimonial h2 {
  color: inherit;
}

#bloc-testimonial h3 {
  margin-top: 0;
  color: #226FDE;
}

#bloc-testimonial #testimonial-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  color: #114A4C;
  text-align: left;
}

#bloc-testimonial .readMore {
  max-height: 800px !important;
  overflow-y: initial !important;
}

#bloc-testimonial .read_more {
  position: absolute;
  left: 16px;
  bottom: 0px;
  z-index: 1;
}

#bloc-testimonial .testimonial {
  position: relative;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  max-height: 340px;
  overflow-y: hidden;
  transition: all .35s ease;
}

#bloc-testimonial .testimonial p:last-child {
  margin-bottom: 2rem;
}

#bloc-testimonial .testimonial .cover {
  position: absolute;
  width: 80%;
  height: 68px;
  background-color: #fff;
  bottom: 0;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}
