html{
   scroll-behavior: smooth;
   box-sizing: border-box;
}
//Desktop Devices
@media screen and (min-width: $tablet_width) {
    .bloc-has-2-parts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    .part-1.desktop-half-wrapper {
      margin-left: auto;
    }
    .part-2.desktop-half-wrapper {
      margin-right: auto;
    }
  }
}
//Mobile Devices
@media screen and (max-width: $tablet_width - 1) {
  .bloc-has-2-parts {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.part-1,
.part-2 {
  max-width: 100%;
  box-sizing: border-box;
}

//Desktop Devices
@media screen and (min-width: $desktop_width) {
  .form-doc-2-parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
//Mobile Devices
@media screen and (max-width: $desktop_width - 1) {
  .form-doc-2-parts {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.global-wrapper{
  margin-top: 2rem;
  h2{
    border-bottom: 1px solid #226FDE;
    padding-bottom: 0.25em;
    margin-top: 2rem;
  }
}

.formAdminAskBtn{
  margin:0 .5rem 0 0 !important;
}

.adminAction-grid{
  fieldset:first-child{
    .validationBtnPED:first-child{
      margin: 0 0 1rem 0 !important;
    }
  }
  fieldset:nth-child(2){

  }
  fieldset:last-child{
    .validationBtnPED:first-child{
      margin: 1rem 0 0 0 !important;
    }
  }
}



#info-generales{
  > div{
    display: flex;
    gap: 1rem;
    h2{
      margin-top: 0;
    }
    .intern_inf{
      flex-basis: 30%;
      h2{
        text-align: right;
      }
    }
    .extern_inf{
      flex-basis: 70%;
    }
  }
}

.gutter {
  grid-column-gap: 20px;
}

/* If there is .grey-background sections, vertical spacing is smaller*/
.grey-background ~ .grey-background {
  .wrapper,
  .narrow-wrapper {
    padding-top: 0;
  }
}

.page-content {
  margin-bottom: 30px;
  :last-child {
    margin-bottom: 0;
  }
}

// BLOCKS

.bloc-doc {
  border: 1px solid $medium-gray;
  padding: 10px;
  margin-bottom: 10px;
  :last-child {
    margin-bottom: 0;
  }
}

.doc-text {
  margin-top: 0;
}
.grey-background .bloc-doc {
  background: $white;
}

.image-container,
.video-container{
  display: flex;
  justify-content: center;
  //align-items: center;
  object-fit: contain;
}

// Image and video style

.image-container {
  img {
    max-height: 360px;
    width: auto;
    max-width: 100%;
    object-fit: scale-down;
  }
}
.video-container {
  img,
  video,
  iframe {
    width: 100%;
    //height: auto;

    //WIDE SCREENS
    @media screen and (min-width: $desktop_width) {
      height: 450px;
    }
    //DESKTOP SCREENS
    @media screen and (max-width: $desktop_width - 1) and (min-width: $tablet_width) {
      height: 30vw;
    }
    //MOBILE SCREENS
    @media screen and (max-width: $tablet_width - 1) {
      height: 60vw;
    }
  }
}
