// Footer - displayed with footer.php


#footer {
  .footer-links{
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:$mobile_width){
      flex-direction: column;
    }
    .wp-block-social-links{
      display: flex;
      flex-wrap: nowrap;
    }
    .secondary{
      a{
        text-decoration: underline;
        text-underline-offset: 2px;
      }
      width: 95%;
      align-self: flex-start;
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      @media screen and (max-width:$tablet_width){
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
      }
      @media screen and (max-width:$mobile_width){
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  background: $white;
  border-top: 1px solid $medium-gray;
  text-align: left;
  @include padding-vertical($spacing-regular);
  a {
    text-decoration: none;
  }
}
#footer .custom-logo,
.footer-cta {
  margin-bottom: 20px;
}
.footer-cta a{
  @extend .cta-standard;
  //Desktop Devices
  @media screen and (min-width: $mobile_width) {
    float: right;
  }
}
#footer ul {
  margin: 0;
  padding: 0;
}
.footer-links .menu-item {
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  margin-bottom: 6px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.copyright {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}

//on mobile frontpage, .header-cta is hidding .copyright
@media screen and (max-width: $tablet_width - 1) {
  .copyright-frontpage {
    padding-bottom: 50px;
  }
}

.pre-footer{
  img{
    filter: grayscale(1);
    transition: all .3s ease;
    &:hover{
      filter: grayscale(0);
    }  
  }
}