//All the Topbar Header
#masthead {
    position: fixed;
    z-index: $index-navigation;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    border-bottom: $medium-gray 1px solid;
    height: 80px;
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    .current_page_item a {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            height: 1px;
            width: 100%;
            background: $dark-green;
        }
        &:link {
            color: $light-green;
        }
    }
}

body {
    padding-top: 80px;
}

.menu-topbar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    //Desktop Devices
    @media screen and (min-width: $menu_mobile_width) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    //Mobile Devices
    @media screen and (max-width: $menu_mobile_width - 1) {
        //padding-top: 10px;
        //padding-bottom: 10px;
    }
}

.custom-logo img {
    height: 40px;
    width: auto;
}

.custom-logo a {
    display: flex;
}

#menu {
    display: flex;
    flex-flow: row;
    align-items: center;
}

//Principal list of links
ul.primary,
ul.primary-paperasse {
    padding: 0;
    display: flex;
}

//Desktop Devices
@media screen and (min-width: $menu_mobile_width) {
    ul.primary {
        display: flex;
        flex-flow: row;
        .menu-item {
            margin-right: 20px;
        }
        .menu-item:last-of-type {
            margin-right: 0;
        }
    }
}

//Mobile Devices
@media screen and (max-width: $menu_mobile_width - 1) {
    ul.primary,
    ul.primary-paperasse {
        display: flex;
        flex-flow: column;
        .menu-item {
            margin-top: 20px;
        }
    }
} //Desktop Devices
@media screen and (min-width: $menu_mobile_width) {
    ul.primary,
    ul.primary-paperasse {
        display: flex;
        flex-flow: row;
        .menu-item {
            margin-right: 20px;
        }
        .menu-item:last-of-type {
            margin-right: 0;
        }
    }
}

//Mobile Devices
@media screen and (max-width: $menu_mobile_width - 1) {
    ul.primary,
    ul.primary-paperasse {
        display: flex;
        flex-flow: column;
        .menu-item {
            margin-top: 20px;
        }
    }
}

.menu-item {
    @extend .fontweight-semibold
}