/* MENU MOBILE */

#menu-admin-ped{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    gap: .25rem;
    .backToList{
        color: #02806C;
    }
    @media screen and (max-width: $menu_mobile_width - 1){
        flex-direction: column;
        justify-content: start;
        span{
            display: none;
        }
    }
}

//For Mobile devices only
@media screen and (max-width: $menu_mobile_width - 1) {
    #menu-mobile,
    #menu-mobile-paperasse {
        position: fixed;
        top: 80px; // equals topbar height
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        height: calc(100vh - 80px);
        background: rgba(230, 230, 230, 0.9); // is like $medium-gray;
        z-index: $index-navigation;
        padding: 20px;
        box-sizing: border-box;
        font-size: 1.125rem; //equals 18px
        transition: transform .2s;
    }
    #menu-mobile.menu-open,
    #menu-mobile-paperasse.menu-open {
        transition: transform .2s;
        transform: translateX(0%);
    }
    ul.primary .menu-item,
    ul.primary-paperasse .menu-item {
        text-align: center;
    }
    ul.primary .menu-item:first-of-type,
    ul.primary-paperasse .menu-item:first-of-type {
        margin-top: 0;
    }
}

//------Menu Button Style --------
//For Mobile devices only
@media screen and (max-width: $menu_mobile_width - 1) {
    button#menu-button-open,
    button#menu-button-close,
    .button-burger {
        font-weight: 400;
        font-variation-settings: 'wght' 400;
        color: $black;
        background-color: $transparent;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        transition: color .2s;
        label {
            font-size: 0.875rem;
            color: currentColor;
            transition: color .2s;
        }
    }
    .button-burger {
        padding: 10px;
        background-color: $white;
        transition: background-color .2s;
        margin-bottom: 5px;
    }
    span.button-line {
        display: inline-block;
        height: 1px;
        width: 30px;
        background-color: $light-green;
        transition: background-color .2s;
    }
    .horizontal-line {
        margin-bottom: 8px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .button-square {
        position: relative;
        background: $white;
        height: 40px;
        width: 40px;
        margin-bottom: 8px;
        transition: background-color .2s;
    }
    .diagonal-line {
        position: absolute;
        left: 50%;
        top: 50%;
        &:first-of-type {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-of-type {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    //Interactivity - Button open
    button#menu-button-open {
        &:hover {
            color: $light-green;
            .button-burger {
                background-color: $light-gray;
            }
        }
        &:active {
            color: $brand-blue;
            .button-burger {
                background-color: $brand-blue;
            }
            span.button-line {
                background-color: $white;
            }
        }
    }
    //Interactivity - Button close
    button#menu-button-close {
        margin-left: auto;
        &:hover {
            color: $light-green;
            .button-square {
                background-color: $light-green;
            }
            span.button-line {
                background-color: $white;
            }
        }
        &:active {
            color: $brand-blue;
            .button-square {
                background-color: $brand-blue;
            }
            span.button-line {
                background-color: $white;
            }
        }
    }
}

//------ CTA (on homepage only) --------
.topbar-cta a {
    @extend .cta-standard;
    text-align: center
}

//Desktop devices
@media screen and (min-width: $tablet_width) {
    .topbar-cta {
        margin-left: 20px;
    }
}

//Mobile devices
@media screen and (max-width: $tablet_width - 1) {
    .topbar-cta a {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        z-index: $index-navigation;
    }
}