
@import "header";
@import "menu";
@import "content";
@import "footer";

/* Cookies */
#tarteaucitronRoot{
   .tarteaucitronDeny{
    background: #fff !important;
    color: #333 !important;
    }
    .tarteaucitronAllow{
        background: $dark-green !important;
    }
    .tarteaucitronCross::before{
        color: #333 !important;
    }
}
