/*
form{
   .formCont, .formCheckBox{
      position: relative;
      margin-top:1em;
   }
   input[type="text"],
   input[type="email"],
   input[type="url"],
   input[type="password"],
   input[type="search"],
   input[type="number"],
   input[type="tel"],
   input[type="range"],
   input[type="date"],
   input[type="month"],
   input[type="week"],
   input[type="time"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="color"],
   textarea {
      -webkit-backface-visibility: hidden;
      background: $light-gray;
      border: solid 1px $medium-gray;
      padding: 0.25rem;
      box-sizing: border-box;
      outline: none;
      -webkit-appearance: none;
      outline-offset: 0;
      border-radius: 0;
      margin-top:1em;
      width:100%;

      + label{
         position:absolute;
         top:1em;
         left:1em;
         color:$gray;
         opacity: 0;
      }
      &:focus {
         border-color: $gray;
         transition: all .4s;
         + label{
            transform: translate(-2em,-1.25em) scale(.8);
            opacity: 1;
            transition: transform .4s;
         }
         &::placeholder{
            opacity:0;
         }
      }
      &::placeholder{
         opacity:1;
      }
   }
   .formCheckBox{
       font-size:.7rem;
   }
   .formButton{
       margin:1em;
       text-align: center;
   }

  .contResponse{
     opacity: 0;
  }
  &.response{
     .contResponse{
        margin:2em 0;
        opacity: 1;
        transition-delay: 1s;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease;
     }
     *:not(.contResponse){
        opacity: 0;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
     }
  }
}
*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
   -webkit-backface-visibility: hidden;
   background: $white;
   border: solid 1px $medium-gray;
   border-bottom: solid 1px $brand-red;
   color: $black;
   padding: 0.5rem;
   box-sizing: border-box;
   outline: none;
   -webkit-appearance: none;
   outline-offset: 0;
   border-radius: 0;
   width:100%;
   position:relative;
   margin-top: 0;
   transition: all .2s;
   &::placeholder{
     color: $medium-gray;
   }
   &:disabled{
     border-color: $gray;
     background: $gray;
     &::placeholder {
       //color: $white;
     }
   }
    &:valid,
    &:checked {
      border-color: $light-green;
      background: $white;
    }
    
   &:focus {
     
      border-color: $brand-blue;
      //color: $brand-blue;
      background-color: $white;
      &::placeholder{
         //color: $brand-blue;
      }
   }
   &:checked {
     border-color: $light-green;
     background: $white;
   }
}
label {
  display: block;
  margin-bottom: 4px;
  line-height: 1.2;
}

textarea,
input,
button,
i {
  display: block;
  margin-bottom:1rem;
}

button {
  margin-top: 10px;
}

form:not(#formAdminAsk):not(#formAdmin) .cta-standard {
  margin-top: 20px;
}

textarea {
  height: 140px;
}

.checkbox {
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  input {
    margin-right: 10px;
  }
  a {
    color: $dark-green;
  }
  label {
    font-size: 87%;
    line-height: 1.5;
  }
}

//ANIMATION BUTTON
.hiddenSubmitButton
{
  cursor: default;
  opacity : 0;
  animation: .4s linear disappear;
  animation-fill-mode: forwards;
}
#ResponseMessage {
  opacity: 0;
}
#ResponseMessage.showResponseMessage {
  opacity : 0;
  animation: .2s linear .6s appear;
  animation-fill-mode: forwards;
}

  @keyframes disappear {
    from {opacity: 1;}
    to {opacity : 0;}
  }
  @keyframes appear {
    0% {opacity : 0;}
    100% {opacity : 1;}
  }

.formCont2{
  display: inline-block;
  width:calc(50% - 2px);
}