//RESPONSIVE LAYOUT

#formAdmin{
  > div{
    h2{
      margin-top: revert;
    }
  }
}

form#formAdminAsk{
  .propal_admin{
    margin: .5rem 0 !important;
    text-align: left !important;
  }
}

.contactFrom, .assist-form{
  max-width: 600px !important;
}

.template-form {
  max-width: 860px;
  margin: 0 auto 1rem auto;
  @media screen and (max-width:$tablet_width) {
    max-width: $mobile_width;
    margin: 0 auto;
  }
  .coordonateForm, .createBilan, .createAnnex{
    padding: 2rem 0;
    #createCoordonate, #createBilan, #createAnnex{
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
      @media screen and (max-width:$tablet_width) {
        grid-template-columns: 1fr;
      }
      @media screen and (max-width:$mobile_width) {
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.form-header,
.bloc-form {
  width: 100%;
}

.form-aside {
  height: 100%;
}
.form-picture {
  height: 100%;
}

.form-doc {
  padding: 20px 30px;
}

.form-video {
  //Desktop Devices
  @media screen and (min-width: $desktop_width) {
    padding-top: map-get($spacing-regular, $desktop_width);
    padding-left: map-get($spacing-regular, $desktop_width);
    padding-right: map-get($spacing-regular, $desktop_width);
    padding-bottom: map-get($spacing-regular, $desktop_width);
  }
}

.contactInf{
  background: #fff;
  border: 1px solid #226FDE;
  padding: 2rem 1rem;
  p{
    margin: 0 auto;
    text-align: center
    
  }
}
// FORM TITLE

.form-title {
  @extend .fontweight-bold;
  font-size: 1.125rem;
  color: $black;
  margin-top: 0;
  margin-bottom: 20px;
}

// FORM ANCHOR

.form-anchor .small-text {
  margin-bottom: 2px;
}

.form-anchor-container {
  display: grid;
  grid-template-columns: 20px auto 20px auto 20px;
  align-items: center;
  width: 100%;
}

.form-anchor-links,
.form-anchor-separator {
  //display: block;
}

.form-anchor-links {
  color: $brand-blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid currentColor;
  background: $white;
  position: relative;
  transition: color .2s;
  &:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    color: inherit;
    background: currentColor;
    top: 5px;
    left: 5px;
    opacity: 0;
  }
  &:focus, &:active {
    color: $dark-green;
  }
  &.disabled {
    color: $gray;
  }
}
.form-anchor-links:hover,
.form-anchor-links:focus,
.form-anchor-links:active {
  &:after {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.form-anchor-separator {
  height: 1px;
  width: 100%;
}

.form-step-1 {
  text-align: left;
  .form-anchor-container {
    grid-template-columns: 20px auto 20px 20px 20px;
  }
  .form-anchor-link-1::after {
    opacity: 1;
  }
}
.form-step-2 {
  text-align: center;
  .form-anchor-link-2::after {
    opacity: 1;
  }
}
.form-step-3 {
  .form-anchor-container {
    grid-template-columns: 20px 20px 20px auto 20px;
  }
  .form-anchor-link-3::after {
    opacity: 1;
  }
  text-align: right;
}

// FORM ASIDE

.form-doc {
  .help-text {
    margin-top: 0;
  }
}

// FORM - BLOC

form h2 {
  border-bottom: 1px solid $brand-blue;
  padding-bottom: 0.25em;
  margin-top: 30px;
  margin-bottom: 30px;
  &:first-of-type {
    margin-top: 0;
  }
}
.bloc-form .bloc-doc {
  margin-top: 30px;
}

#ownerContainer {
  display: flex;
  flex-flow: column nowrap;
}

#formAssist, #formAssistSyndic{
  transition: all 1s ease-out;
  height:auto;
  max-height: 100%;
  overflow: hidden;
  &.hide{
    transition: all 1s ease-out;
    max-height: 0;
  }
}

.field-combine{
  border-left:dotted 1px #999;
  padding-left:1em;
}