// Frontpage Template - displayed with front-page.php
.frontpage {
}
//Bloc 1 - Frontpage-Header
.baseline {
  font-variation-settings: 'wght' 400;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  color: $black;
}
.frontpage-header-part2 {
  h1 {
    margin-top: 0;
  }
  @include padding-vertical($spacing-regular);
  @include padding-horizontal($spacing-regular);
}
//Bloc 2 - Frontpage-Advantage
.frontpage-advantage-part1 {
  h2 {
    margin-top: 0;
  }
  @include padding-vertical($spacing-regular);
}
.frontpage-advantage-part2 {
  //@include padding-vertical($spacing-regular);
  //@include padding-horizontal($spacing-regular);
  //Mobile Devices
  @media screen and (max-width: $mobile_width - 1) {
    padding-top: 0;
  }
}
.frontpage-advantage-element,
.bloc-doc {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  max-width: 320px;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
  }
}
.frontpage-advantage-picture,
.doc-picture {
  border-radius: 4px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}
.frontpage-advantage-name{
  margin-top: 0;
  margin-bottom: 0.5em;
}
.frontpage-advantage-text {
  margin: 0;
  padding: 0;
}
//Bloc 3 - Frontpage-Help
.frontpage-help {
  background: linear-gradient(to right, $dark-green, $darker-green);
  color: $white;
  h1, h2, h3, a {
    color: $white;
  }
  a.cta-white {
    color: initial;
  }
}
.frontpage-help .part-2 {
  @media screen and (max-width: $mobile_width - 1) {
    padding-top: 0;
  }
}
.frontpage-help-part2 {
  //@include margin-vertical($spacing-regular);
  //@include margin-horizontal($spacing-regular);
  border-left: 1px solid $light-green;
  padding-left: 15px;
}
//Bloc 4 - Frontpage-Timeline
.frontpage-timeline {
  @include padding-vertical($spacing-regular);
}
.frontpage-timeline-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
li.frontpage-timeline-step {
  position: relative;
  margin-bottom: 20px;
}
li.frontpage-timeline-step::before {
    position: absolute;
    content:"";
    background: $white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $brand-yellow;
  }
  li.frontpage-timeline-step::after {
    position: absolute;
    content:"";
    background: $brand-yellow;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    opacity: 0;
  }
li.frontpage-timeline-step:nth-child(1)::after{
    opacity: 1;
}
li.frontpage-timeline-step:hover {
  &::after {
    opacity: 1;
  }
}
.small-text {
  font-size: 0.875rem;
  color: $gray;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-variation-settings: 'whgt' 400;
  &.blue {
    color: $brand-blue;
  }
}
.frontpage-timeline-step p {
  margin-top: 0;
  margin-bottom: 10px;
}
.frontpage-timeline-title {
  margin-top: 0;
  margin-bottom: 10px;
}
//Mobile Devices - Vertical layout
@media screen and (max-width: $tablet_width - 1) {
  .frontpage-timeline-list {
    border-left: 1px solid $brand-yellow;
  }
  li.frontpage-timeline-step {
    padding-left: 40px;
    position: relative;
  }
  li.frontpage-timeline-step::before{
    left: -10px;
    top: 0;
  }
  li.frontpage-timeline-step::after{
    left: -5px;
    top: 5px;
  }
}
//Desktop Devices - Horizontall layout
@media screen and (min-width: $tablet_width) {
  .frontpage-timeline-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    border-top: 1px solid $brand-yellow;
    padding-top: 40px;
  }
  li.frontpage-timeline-step {
    position: relative;
  }
  li.frontpage-timeline-step::before{
    top: -50px;
    left: 0;
  }
  li.frontpage-timeline-step::after{
    top: -45px;
    left: 5px;
  }
}
//Bloc 6 - Frontpage-Price
.frontpage-price {
  margin: 0;
  padding: 0;
  > div {
    @include padding-vertical($spacing-regular);
    max-width: 800px;
  }
}
//Mobile Devices
@media screen and (max-width: $mobile_width - 1) {
  .frontpage-price-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
  }
  .frontpage-price-element {
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      text-align: center;
      ul {
        text-align: left;
        display: block;
      }
  }
  .frontpage-price-title {
    font-size: 1.5rem;
  }
}
//Desktop Devices
@media screen and (min-width: $mobile_width) {
  .frontpage-price-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
  }
  .frontpage-price-title {
    font-size: 1rem;
  }
}
.frontpage-price-header {
  background: $brand-red;
  height: 180px;
  padding: 20px;
  text-align: center;
  color: $white;
  display: flex;
  flex-flow: column;
}
.frontpage-price-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  @extend .fontweight-semibold;
  line-height: 1.2;
  min-height: 2.5rem;
  img {
    height: 2.5rem;
    width: auto;
    margin-right: 1rem;;
  }
  h2 {
    margin: 0;
    text-align: left;
    font-size:  inherit;
    @extend .fontweight-semibold;
    color: $white;
   
  }
}
.frontpage-price-data {
  @extend .fontweight-bold;
  font-size: 2.5rem;
  font-style: normal;
  margin-top: 40px;
  margin-bottom: 0;
  line-height: 1;
}
.frontpage-price-text {
  margin-top: 0;
}
.frontpage-price-option {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  a {
    margin: auto;
  }
}
ul.frontpage-price-list {
  list-style-type: disc; // fallback
  list-style-image :url(./image/list-style-bad.svg);
}
.frontpage-price-arg {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom:0;
  }
}
//First .frontpage-price-element (Offer 1)
.frontpage-price-element:first-of-type {
  .frontpage-price-header {
    background: $light-green;
  }
  .frontpage-price-option {
    background: $white;
  }
  ul.frontpage-price-list {
    list-style-image :url(./image/list-style-good.svg);
  }
}
//Second .frontpage-price-element (Offre 2)
.frontpage-price-element:nth-of-type(2) {
  .frontpage-price-header {
    background: $brand-blue;
  }
    .frontpage-price-option {
      background: $white;
      border-left: 2px solid $light-gray;
    }
  ul.frontpage-price-list {
    list-style-image :url(./image/list-style-good.svg);
  }
}
.frontpage-price-legal p {
  text-align: center;
  color: $gray;
  a {
    transition: color .2s;
    &:link  {color: currentColor;}
    &:hover {color: $light-green;}
    &:active,
    &:focus  {color: $brand-blue;}
  }
}
//Bloc 7 - Frontpage-Information

.frontpage-information .narrow-wrapper {
  @include padding-vertical($spacing-regular);
  @include padding-vertical($spacing-regular);
}

.frontpage-information-text{
  background: $white;
  border: 1px solid $brand-blue;
  padding: 30px 20px;
  a {
    color: $brand-blue;
  }
}
