// Woocommerce Style
.template-woocommerce {
  @extend .grey-background;
}

//LAYOUT
.wc-custom {
  grid-gap: 20px;
  @include padding-vertical($spacing-regular);
}

//Mobile Devices
@media screen and (max-width: $tablet_width - 1) {
  .wc-custom{
    display: grid;
    grid-template-columns: 1fr;
  }
}

//Desktop Devices
@media screen and (min-width: $tablet_width) {
  .wc-custom{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wc-custom-variant{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.wc-main,
.wc-aside {
  background: $white;
  @include padding-vertical($spacing-regular);
  @include padding-horizontal($spacing-regular);

}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals{
  width:100%;
}

//STYLE ELEMENTS

.woocommerce h2 {
  margin-top: 0;
}
.woocommerce .button,
.woocommerce button,
.woocommerce button.button {
  @extend .cta-secondary;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
  @extend .cta-standard;
  width: 100%;
}

.woocommerce input {
  display: initial;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
  @extend .fontweight-bold;
}

#primary .woocommerce ul.order_details {
  padding-left: 15px;
  border-left: 1px solid $brand-blue;
  //display: flex;
  //flex-flow: column;
}

#primary .woocommerce ul.order_details li {
  @extend .small-text;
  margin-bottom: 10px;
  strong {
    color: $black;
    @extend .fontweight-bold;
  }
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 100%;
  border : 1px solid $brand-blue;
  @include padding-vertical($spacing-half);
  @include padding-horizontal($spacing-regular);
  ul {
    padding: 0;
  }
}

.cta-checkout {
  width: 100%;
  text-align: center;
}
// Table Style
.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td {
  border-radius: 0;
  border-color: $gray;
}

.table_head {
  @extend .fontweight-semibold;
}
.product-name a {
  text-decoration: none;
}

.woocommerce-order-overview-custom {
  display: flex;
  flex-flow: column;
}
.woocommerce .woocommerce-customer-details address {
  width: 100%;
  box-sizing: border-box;
}
