// Recap Template

.template-recap {
  @include padding-vertical($spacing-regular);
}

.recap-content,
.recap-form
 {
  @include padding-vertical($spacing-regular);
}

.recap-content {
  margin-bottom: 30px;
}
.recap-text {
  width: 100%;
  text-align: left;
  p {
    margin: 0;
    padding: 0;
  }
}
//On large screens
@media screen and (max-width: $mobile_width - 1) {
  .recap-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

//On mobile screens
@media screen and (min-width: $mobile_width) {
  .recap-text {
    display: grid;
    grid-template-columns: auto 80px;
  }
}


.recap-links {
  @extend .small-text;
  text-decoration: none;
}
