// Standard Template - displayed with page.php
.wrapper{
   box-sizing: border-box;
   max-width: $wide_width;
   //margin:auto;
   margin-left: auto;
   margin-right: auto;
   @include padding-horizontal($spacing-regular);
}
.narrow-wrapper {
  box-sizing: border-box;
  max-width: $narrow_width;
  margin-left: auto;
  margin-right: auto;
  @include padding-horizontal($spacing-regular);
}

.desktop-half-wrapper {
//Desktop + Tablet Devices
@media screen and (min-width: $tablet_width) {
    width: 100%;
    max-width: $wide_width / 2;
    box-sizing: border-box;
  }
}
.responsive-padding {
  @include padding-vertical($spacing-regular);
  @include padding-horizontal($spacing-regular);
}

.wrapper-defines-height {
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
section {
  padding: 0;
  margin: 0;
}
.page-title {
  //@source : https://www.sitepoint.com/using-sass-maps/
  //Mobile Devices
  @media screen and (max-width: $mobile_width - 1) {
    padding-top: map-get($spacing-regular, $mobile_width);
  }
  //Tablet Devices
  @media screen and (min-width: $mobile_width) and (max-width: $desktop_width - 1) {
    padding-top: map-get($spacing-regular, $tablet_width);
  }
  //Desktop Devices
  @media screen and (min-width: $desktop_width) {
    padding-top: map-get($spacing-regular, $desktop_width);
  }

  h1 {
    margin-top: 0;
  }
  span {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.standard-page {
  @media screen and (max-width: $mobile_width - 1) {
    padding-bottom: map-get($spacing-regular, $mobile_width);
  }
  //Tablet Devices
  @media screen and (min-width: $mobile_width) and (max-width: $desktop_width - 1) {
    padding-bottom: map-get($spacing-regular, $tablet_width);
  }
  //Desktop Devices
  @media screen and (min-width: $desktop_width) {
    padding-bottom: map-get($spacing-regular, $desktop_width);
  }
}
