//RESPONSIVE LAYOUT

// Wide screens
@media screen and (min-width: $wide_width) {
  .template-tutorial {
    display: grid;
    grid-template:  ". main aside grey" auto / 1fr 562.5px 562.5px 1fr;
  }
  .tutorial-main {
    grid-area: main;
  }
  .tutorial-aside {
    grid-area: aside;
    background: $brand-yellow;
  }
  .tutorial-grey {
    grid-area: grey;
  }
  .tutorial-start {
    background: $medium-gray;
  }
}

// Desktop screens
@media screen and (max-width: $wide_width - 1) and (min-width: $tablet_width) {
  .template-tutorial {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tutorial-aside {
    background: $brand-yellow;
  }
  // Tablet screens
  @media screen and (max-width: $desktop_width - 1) and (min-width: $tablet_width) {
    .template-tutorial {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.tutorial-aside {
  @include padding-vertical($spacing-regular);
  @include padding-horizontal($spacing-regular);
}

.tutorial-information {
  @extend .frontpage-information-text;
}

#tutorial-start {
  background: $white;
  @include padding-vertical($spacing-regular);
  @include padding-horizontal($spacing-regular);
  display: flex;
  .start-content {
    margin: auto;
    //background: $white;
    border: 1px solid $brand-blue;
    width: 100%;
    max-width: 720px;
    padding: 1rem;
    text-align: center;
    > div {
      padding: 1rem 2rem 1rem 1rem;
    }
  }
  .help-text {
  background: $light-gray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  }

  a.cta-standard {
    margin: 1rem;
  }
}

a.cta-plan-2 {
  background: $brand-blue;
  &:hover,
  &:focus {
    background-color: lighten($brand-blue, 10);
  }
}