#help-container {
    // Help button :opens Popup
    >button {
        right: 0;
        bottom: 2rem;
        position: fixed;
        margin: 0;
        z-index: $index-tooltip;
        font-size: 1.25rem;
        animation: crescendo 5s infinite;
    }
    @keyframes crescendo {
        0% {
            transform: scale(1);
        }
        80% {
            transform: scale(1);
        }
        90% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    // Popup appears
    #popup {
        opacity: 0;
        visibility: hidden;
        transition: all .2s;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $index-popup;
        // class .is-open' is added through Javascript
        &.is-open {
            opacity: 1;
            visibility: visible;
        }
        // content of the popup
        #popup-layout {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 1rem;
            padding-top: 4rem;
            max-width: 480px;
            width: 100%;
            box-sizing: border-box;
            // content of the popup
            #popup-content {
                background: $white;
                padding: 2rem;
            }
            // Button that closes popup
            #closePopup {
                background: transparent;
                position: absolute;
                top: 0;
                right: 1rem;
                display: flex;
                flex-flow: row nowrap;
                //align-items: center;
                padding: 0;
                img {
                    margin-left: 1rem;
                }
            }
        }
        // Screen gets darker behind the popup
        #overlay {
            display: block;
            height: 100%;
            height: 100vh;
            width: 100%;
            width: 100vw;
            background: rgba(black, 0.85);
        }
    }
}