#bloc-testimonial {
    background-color: $dark-green;
    @include padding-vertical($spacing-regular);
    color: $white;
    text-align: center;

    h2 {
        color: inherit;
    }

    h3 {
        margin-top: 0;
        color: $brand-blue;
    }

    #testimonial-layout {
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(16rem, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1rem;
        color: $black;
        text-align: left;
    }

    .readMore{
        max-height: 800px !important;
        overflow-y: initial !important;
    }
    .read_more{
        position: absolute;
        left: 16px;
        bottom: 0px;
        z-index: 1;
    }
    .testimonial {
        position: relative;
        background: white;
        border-radius: 1rem;
        padding: 2rem;
        max-height: 340px;
        overflow-y: hidden;
        transition: all .35s ease;
        p:last-child{
            margin-bottom: 2rem;
        }
        .cover{
            position: absolute;
            width: 80%;
            height: 68px;
            background-color: #fff;
            bottom: 0;
        }
    }

}